<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IOT Hub</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header">
                <div class="right">
                    @Html.Partial("_LoginPartial")
                </div>
                
                <div class="sidenav">
                    <div class="logoName">@Html.ActionLink("IOT Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
                    <div class="logo">
                        <img style="padding-top: 10px; width: 120px; height: 120px;" src="~/Img/IOTHub.png">
                    </div>
                    <ul id="leftNav" class="nav navbar-nav">
                        <li><div>@Html.ActionLink("About", "About", "Home")</div></li>
                        <li><div>@Html.ActionLink("Contact", "Contact", "Home")</div></li>
                        <li><div>@Html.ActionLink("Nodes", "Index", "Nodes")</div></li>
                        <li><div>@Html.ActionLink("LPN", "Index", "Cars")</div></li>
                        <li><div>@Html.ActionLink("Dots", "Index", "Dots")</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer class="footer">
        @*<div class="text-center"> @DateTime.Now.Year - <a href="https://github.com/VDSnuff/IOTHub">IOTHub Application</a></div>*@
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
